@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-slate-400 text-gray-900;
}

.react-calendar__tile--active {
  background: #3182ce; 
  color: #fff;
  
}

.react-calendar__tile--highlighted {
  background: #63b3ed; 
}
.react-calendar__navigation__arrow.react-calendar__navigation__next-button{
  margin: 0 10px;
  font-size:2.5rem;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
  margin: 0 10px;
  font-size:2.5rem;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button{
  margin: 0 10px;
  font-size:2.5rem;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
  margin: 0 10px;
  font-size:2.5rem;
}
.react-calendar__navigation__label{
  font-size:1.5rem;
}
